{% extends 'base.html' %}
{% load static %}
{% block title %}Immortalsunscans Home{% endblock %}
{% block stylesheet %}{% endblock %}
{% block content %}

<div class="panel-content-homepage">
<h1 class="content-homepage-title">READ MANGA ONLINE - LATEST UPDATES</h1>

    {% for p in post %}

    <div class="content-homepage-item">
    <a data-tooltip="sticky_30114" class="tooltip item-img" rel="nofollow" href="#" title="Metropolitan System">
    <img class="img-loading" src="{{p.image.url}}" onerror="javascript:this.src='themes/hm/images/404_not_found.png';" alt="Metropolitan System" />
    <em class="item-hot"></em> <em class="item-rate">4.5</em> </a>
    <div class="content-homepage-item-right">
    <h3 class="item-title">
    <a data-tooltip="sticky_30114" class="tooltip a-h text-nowrap" href="{% url 'details' id=p.id %}" title="Metropolitan System">{{ p.title }}</a>
    </h3>
    <span class="text-nowrap item-author" title="Tu Jun Author">{{p.posted_on}}</span>

     {% for recent_chapter in  p.chapter_set.all.reverse|slice:":3" %}
    <p class="a-h item-chapter">
    <a rel="nofollow" class="text-nowrap" href='/chapter/{{ recent_chapter.article.id }}/{{ recent_chapter.chapter_number }}/' title="Metropolitan System Chapter 287: Metropolitan System Chapter 287">{{ recent_chapter.name }}</a>
    <i>1 hour ago </i>
    </p>
    {% endfor %}

    </div>
    </div>
    {% endfor %}


    <a href="#" class="content-homepage-more a-h" style="background:#2F2724!important;"><< MORE >></a>
</div>
<div id="mystickytooltip" class="stickytooltip"></div>
</div>


<div style="clear: both"></div>
</div>

{% endblock %}
{% block script %}{% endblock %}